<div class="container theme-showcase">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-3">
            <a class="navbar-brand" [routerLink]="['Indicadores']">Indicadores</a>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3">
            <a class="navbar-brand" [routerLink]="['Auth']">Autenticação</a>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3">
            <a class="navbar-brand" [routerLink]="['VendasPorComb']">Vendas por combustivel</a>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3">
            <a class="navbar-brand" [routerLink]="['VendasPorGrupo']">Vendas por grupo</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>